@import "tailwindcss";
@import "tailwind-scrollbar-hide/v4";

@theme {
  --color-green: #4cbb17;
  --color-primary: #444444;
  --color-secondary: #d9d9d9;
  --color-text: #ffffff;
  --color-background-start: #454545;
  --color-background-end: #1e1e1e;
  --color-background-main: #1e1e1e;
  --color-shadow: rgba(0, 0, 0, 0.5);
  --color-card: #373636;

  --shadow-3xl: 10px 10px rgba(0, 0, 0, 0.5);

  --font-poppins: "Poppins", sans-serif;
}

[data-theme="light"] {
  --color-green: #4cbb17;
  --color-primary: #d9d9d9;
  --color-secondary: #666666;
  --color-text: #292929;
  --color-background-start: #ffffff;
  --color-background-end: #555b60;
  --color-background-main: #f8f9fa;
  --color-shadow: rgba(0, 0, 0, 0.1);
  --color-card: #aeaeae;

  --shadow-3xl: 10px 10px rgba(0, 0, 0, 0.1);
}
